/* Google Fonts import */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@400;700&display=swap');

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color: #000000;
    color: white;
    padding: 1rem;
    text-align: center;
}

.header-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.title-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 0; /* Abstand zum Logo */
}

#subtitle {
    margin-top: 5px; /* Abstand zum h1 */
    font-size: 1rem; /* Optional: Schriftgröße anpassen */
    font-family: 'Cormorant Garamond', serif;
    padding-left: 0;
}

header h1 {
    font-family: 'Cormorant Garamond', serif;
    font-size: 2rem; /* Die Schriftgröße wird auf 3rem gesetzt, was größer und auffälliger ist */
    margin: 0; /* Abstand zum Logo */
}

.logo {
    width: 80px; /* Setzen Sie die Breite Ihres Logos an */
    height: auto;
}

nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
    background-color: #000000;
    flex-wrap: wrap;
}

nav ul li {
    margin: 0.5rem;
}

nav ul li a {
    color: rgb(255, 255, 255);
    text-decoration: none;
}

main {
    padding: 1rem;
}

section {
    margin-bottom: 2rem;
}

footer {
    background-color: #000000;
    color: white;
    text-align: center;
    padding: 1rem;
}

#language-switcher {
    margin-top: 10px;
}

#language-toggle {
    width: 120px; /* Breitere Schaltfläche */
    padding: 10px 20px;
    background: linear-gradient(45deg, #333 50%, white 50%);
    color: white;
    border: 1px solid #555;
    border-radius: 20px; /* Abgerundete Ecken */
    cursor: pointer;
    transition: background 0.5s ease-in-out, color 0.5s ease-in-out; /* Hinzufügen der Transition-Effekte */
    position: relative;
    overflow: hidden;
}

#language-toggle span {
    position: relative;
    z-index: 1;
}

#language-toggle::before {
    content: "EN";
    position: absolute;
    top: 50%;
    left: 10%;
    transform: translateY(-50%);
    color: white;
    transition: color 0.5s ease-in-out; /* Hinzufügen der Transition-Effekte */
}

#language-toggle::after {
    content: "DE";
    position: absolute;
    top: 50%;
    right: 10%;
    transform: translateY(-50%);
    color: #333;
    transition: color 0.5s ease-in-out; /* Hinzufügen der Transition-Effekte */
}

#language-toggle.de {
    background: linear-gradient(45deg, white 50%, #333 50%);
}

#language-toggle.de::before {
    color: #333;
}

#language-toggle.de::after {
    color: white;
}

#language-toggle:hover {
    background: linear-gradient(45deg, #555 50%, white 50%);
    color: white;
}
/* Media Queries für größere Bildschirme */
@media (min-width: 600px) {
    .header-content {
        flex-direction: row;
    }

    .title-container {
        align-items: flex-start;
        margin-left: 10px;
    }

    header h1 {
        font-size: 3rem; /* Größere Schriftgröße für größere Bildschirme */
    }

    #subtitle {
        font-size: 1.25rem; /* Größere Schriftgröße für größere Bildschirme */
        padding-left: 10px;
    }

    .logo {
        width: 100px; /* Größere Breite für das Logo */
    }

    main {
        padding: 2rem; /* Größere Polsterung für größere Bildschirme */
    }
}